@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    
}

.logo {
    max-width: 50px;
    width: 100%;
}

.logocontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logocontainer h1 {
    margin-left: 10px; 
    color: #243E63; 
    font-weight: 900; 
    font-size: 24px;
    letter-spacing: 0.5px;
}

.row {
    
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

nav {
    padding: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.hamburger-button {
    display: none;
    background: none;
    border: none;
}

.hamburger-button:focus {
    color: rgb(100 21 255 );
}

.hamburger-menu {
    display: none;
    

    
    z-index: 999;
    
    
    background-color: rgb(255 255 255 ); 
    color: rgb(26 32 44 );
    border: 2px solid rgb(226, 232, 240);
    border-radius: 50px; 
    margin: 20px auto !important;

    flex-direction: column;
    justify-content: space-around;




}

.hamburger-menu nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hamburger-x-button {
    background: none;
    border: none;
}

.hamburger-x-button:focus{
    color: #6415ff;
}

.hamburger-menu ul li {
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.125rem;
}

.hamburger-menu .signup {
    margin-top: 20px;
    margin-bottom: 20px;
}

.hamburger-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navlink {
    text-decoration: none;
    margin-right: 40px;
    color: #243E63; 
    font-size: 14px;
    font-weight: bold;
    transition: color 300ms ease-in-out; 
}

.navlink:hover:not(.signup) {
    color: rgb(100 21 255);
    border-bottom: 2px solid rgb(100 21 255 );

}



.rightdiv {
    display: flex;
    flex-direction: row;
    margin-left: 30px
}

.signup {
    border: none;
    background-color: rgb(100 21 255);
    border-radius: 50px;
    padding: 15px 25px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    animation: all ease-in-out 3s ;
}

.signup:hover {
    cursor: pointer;
    background-color: rgb(125, 80, 214);
}

/* Header */


header {
    height: calc(100vh - 80px);

    display: flex;
    align-items: row;

    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10%;
    
}

.left-content {
    position: relative;;
}

.left-content button {
    position: absolute;
    right: 100px;
    top: 5px;
}


.purpletext {
    color: rgb(100 21 255 ); 
}

.left {
    width: 40%;
    max-width: 1200px;
}

.left h1, 
.questions--toptext h1 {
    font-size: 48px;
    font-weight: 700;
    color: #1A202C;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

.left p:not(.trustedcustomerstext):not(.qualityworksubtext):not(.purpleheading):not(.principletext) {
    font-size: 18px;
    color: #243E63;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
    line-height: 26px;
}

.left input {
    border: 2px solid rgb(226, 232, 240) ;
    border-radius: 50px;
    padding: 20px;
    width: 80%;

    margin-bottom: 120px;
    
   
}

.left input::placeholder {
    font-weight: bold;
    font-size: 16px;
    color: rgb(226, 232, 240);

}

/* .getstartedbutton {
    position: absolute;
    color: white;
    padding: 15px 20px;
    background-color: rgb(100 21 255 );
    border-radius: 50px; 
    font-size: 14px; 
    font-weight: bold; 
    border: none; 
    top: 67.3%; 
    left: 26%;



} */


.right {
    width: 60%;
    max-width: 1200px;
}

.rightimage {
    width: 800px;
}

.trustedcustomerstext {

    font-size: 0.75rem;
    color: #A0AEC0;
    font-size: 12px;
    font-weight: bold;


}

.trustedcustomers figure img {
    padding-top: 20px;
    max-width: 450px;
    width: 100%;
    height: auto;
}

/* FEATURES */

#features {
    padding-top: 40px; 
    margin: 0 auto;
    text-align: center;
}

.purplecentertext {
    color: rgb(100 21 255 );
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.featureheadingmain { 
    font-size: 48px;
    font-weight: 800;
    color: #243E63;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.featuresubheading { 
    font-size: 18px; 
    color: #7C8BA1;
    width: 50%;
    margin: 0 auto;
    line-height: 30px;

}

.featurecontent {


    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    
    

}

.feature {
    display: flex;
    
    width: calc(100% / 3);
    margin-bottom: 60px;
    
}

.feature figure {
    border: 1px solid rgb(226, 232, 240);
    border-radius: 50%;
    padding:  10px 20px ;
    
    max-height: 70px;
    display: flex;
    
    
    
}

.feature figure img {
    width: 35px;
}

.featuretextcontainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding-left: 15px;
    
    max-width: 60%;
}

.featureheading {
    font-size: 24px;
    color: #243E63;
    
}

.featuretext {
    padding-top:  10px;
    font-size: 16px;
    color: #7C8BA1;
    line-height: 2;
}

/* QUALITY WORK */

#qualitywork {
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#qualitywork .left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#qualitywork .left h1 {
    color: #243E63;
    font-size: 48px;
    text-align: left;
    font-weight: 800;
}

.qualityworksubtext {
    font-size: 18px;
    color: #7C8BA1;
    font-weight: 500;
    

    letter-spacing: 0.5px;
    margin-bottom: 30px;
    line-height: 1.625;

    
    text-align: left;
}

#qualitywork .right {
    width: 50%;
}

#qualitywork .left button {
    font-weight: bold;
    font-size: 16px;
    width: 30%;
    cursor: pointer;
}

#qualitywork .right figure {
    margin-left: 100px;
    
}

#qualitywork .right figure img {
    width: 500px;
    border-radius: 0.25rem;
    
    
    
    border: 1px solid rgb(226, 232, 240);

}


#qualitywork .left p:first-child, .purpleheading {
    font-weight: 700;
    letter-spacing: 0.1em;
    color: rgb(100 21 255 );
    font-size: 16px;
}

/* STEPS */

#steps {
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;

}

#steps .right {
    width: 50%;
    margin-left: 50px;
}

#steps .right h1 {
    margin-top: 10px;
    font-size: 48px;
    font-weight: 800;
    color: #243E63;
    margin-bottom: 40px; 
}

.step {
    display: flex;
    flex-direction: row;
}

.step div {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-items: start;

    margin-bottom: 30px;
}

.stepnumber {
    font-size: 36px;
    color: #CBD5E0;
    font-weight: 600;
    line-height: 1;
}

.steptext {
    font-size: 14px;
    color: rgb(113 128 150);
    max-width: 20rem;
    line-height: 2;
}

.stepname {
    font-size: 20px;
    color: #243E63;
    font-weight: 600;
    padding-bottom: 10px;
}




#steps .left figure img  {
    width: 600px;
    
}

#steps .left {
    
    width: 50%;
}

/* VALUES */

#values {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

#values .left {
    width: 50%;
    text-align: left;
}

#values .left h1 {
    margin-top: 20px; 
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
    line-height: 1.25;

}

#values .left p:nth-of-type(2) {
    color: #7C8BA1; 
    font-size: 18px;
    line-height: 1.625;
}

.principlesdiv {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 30px;
}

.principle {
    width: 50%;
    display: flex;
    flex-direction: row;
    
}

.principle:last-child {

    margin-left: 10px;
    
}

.principle figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%; 
    
    padding: 12px 12px;
    height: 50px;
    background-color: #9AE6B4;
    color: rgb(39 103 73);

}

.principlefigure2  {
    color: rgb(155 44 44) !important; 
    background-color: #FEB2B2 !important;
}

.principletextcontainer {
    margin-left: 20px;
}

.principletitle {
    font-size: 24px !important;
    color: #243E63 !important;
}

.principletext {
    margin-top: 15px;
    font-size: 16px;
    color: #718096;
    text-align: left;
    line-height: 1.625;
    
}

#values .right { 
    width: 50%;
    margin-left: 30px;
}

#values .right figure img {
    width: 650px;
}


/* PRICING SECTION */

#pricing {
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing .toptext {
    text-align: center;
    margin-bottom: 30px;
    
}
#pricing .toptext h1 {
    margin-top: 20px;
    font-size: 48px;
    
    font-weight: 900;
    color: #243E63;
    line-height: 1.25;

    margin-bottom: 20px;

}

#pricing .toptext p:last-child {
    color: #7C8BA1; 
    font-size: 16px;
    width: 60%;
    margin: 0 auto;
    line-height: 1.625;
    
}



.priceoptions {
    
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.personal, .business, .enterprise {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 );
    position: relative;
    padding-top: 5px;
    margin-left: 20px;
    border: solid rgb(226, 232, 240) 1px;
    border-radius: 0.5rem;

    
}

.business {
    background-color: rgb(100 21 255 );
}

.business p,
.business h1, .business .priceoptions--middle p {
    color: white !important;
}

.contentdiv {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.priceoptions--top  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
    margin-bottom: 20px;
    width: 100%;
    border-bottom: solid rgb(226, 232, 240) 2px;
    padding-bottom: 20px;
    
}

.priceoptions--top p:first-child {
    font-size: 20px;
    font-weight: 700;
}

.priceoptions--middle p:not(:first-child) {
    color: rgb(113 128 150 );
    font-size: 16px;
    margin-top: 20px;
}



.priceoptions--top h1 {
    font-size: 48px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    
}

.priceoptions--top p:last-child {
    color: rgb(160 174 192 );
    font-weight: 700;
    font-size: 16px;
}

.priceoptions--middle {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid rgb(226, 232, 240) 2px;
}

.priceoptions--middle p:first-child {
    
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.priceoptions--end {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

.greengrad {
    
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    color: #F7FAFC;
    transition: all ease-in-out 400ms;
}

.greengrad:hover, 
.redgrad:hover, 
.whitegrad:hover {
    transform: translate(5px, 5px); 
    box-shadow: #1A202C;
    

}

.redgrad {
    
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: #F7FAFC;
    transition: all ease-in-out 400ms;

}

.whitegrad {
    background: rgb(247 250 252);
    color:rgb(100 21 255) ;
    transition: all ease-in-out 400ms;

    
}


.buynow {
    font-weight: bold;
    border: none; 
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    font-size: 14px;
    width: 50%;
    

}



.personal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px; 
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}



.enterprise::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px; 
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* TESTIMONIALS */

#testimonials {
    padding: 20px;
    display: flex;
    flex-direction: row;

}

.testimonialscontent {
    display: flex;
    flex-direction: row;
}

.testimonialscontent .left, 
.testimonialscontent .right {
    width: 50%;
}

.testimonialscontent .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stars {
    

    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.stars svg {
    width: 1.25rem;
    height: 1.25rem;
    
}

.testimonial p:first-child {
    font-size: 20px;
    color: #243E63;
    font-weight: bold;
}

.testimonial p:last-child {
    font-size: 16px;
    color: #4A5568; 
    line-height: 1.625;
    
}

.testimonialscontent .right {
    margin-left: 20px;
}

.testimonialscontent .right h1 {
    margin-top: 10px;
    font-size: 48px;
    font-weight: 800;
    color: #243E63;
    margin-bottom: 15px; 

}

.rightsubheadingtestimonial {
    margin-top: 10px;
    font-size: 18px;
    color: #7C8BA1;
    line-height: 1.625;
    font-weight: 500;
    margin-bottom: 15px;

}

.testimonial-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.testimonial-info figure img {
    width: 70px;
    border-radius: 50px;
}

.testimonial--info--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testimonial--name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.testimonial--name p:first-child {
    font-size: 20px;
    font-weight: bold;
    color: #243E63; 
}

.testimonial--name p:last-child {
    padding-top: 5px;
    font-size: 16px;
    color: #7C8BA1;
}

.testimonialscontent .left img {
    width: 550px;
    margin-right: 20px;
}

.arrow-div {
    
}

.arrow-div button {
    border: none;
    margin-right: 10px;
    border-radius: 50px;
    background-color: rgb(237 242 247);
    padding: 10px 10px;
}

.arrow-div svg {
    stroke: rgb(100 21 255 );
    width: 32px;
}

/* QUESTIONS */

#questions {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.questions--toptext {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

}

.questions--toptext h1 {
    font-size: 48px;
    font-weight: 900;
    color: #1A202C;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.questions--toptext p:last-child {
    font-size: 18px;
    color: #7C8BA1;
    text-align: center;
    line-height: 1.625;
    width: 50%;
}

.questions--container {
    width: 80%;
   
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;
}

.question {
    width: 100%;
    padding: 20px;
    background-color: rgb(237 242 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 0.5rem;
}

.question--top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question--top h3 {
    font-size: 20px;
    font-weight: 600;
    color: #2d3748;
    margin-bottom: 15px;
}

.question p {
    color: rgb(26 32 44);
    font-size: 1rem;
    line-height: 1.625;
}

#info {
    position: relative;
    border: 5px solid transparent;
    background-color: rgb(100 21 255 );
    padding: 100px;
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    overflow: hidden;
}

.info--content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#info svg {
    color: rgb(80 17 204);
    opacity: 0.5;
    
    position: absolute;
    width: 200px;
    overflow-x: hidden;
}

#info svg:first-child {
    left: 0px;
    top: 20px;
    transform: translate(-50px,150px) !important
}

#info .svg-2 {
    right: -50px;
    
    transform: translate(50px,-150px) !important

}


.info--content--left h1 {
    font-size: 30px;
    color: rgb(247 250 252 );
    width: 75%;
    line-height: 1.5;
}

.info--content--right { 
    display: flex;
    flex-direction: row;

}

.info--content--right div button:first-child {
    background-color: rgb(245 101 101 );
    color: rgb(247 250 252 );
    border: none;
    border-radius: 9999px;
    padding: 20px 25px;
    margin-right: 32px;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}

.info--content--right div button:last-child {
    color: rgb(247 250 252 );
    border: none;
    border-radius: 999px;
    padding: 20px 25px;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    background-color: none;
    background-color: rgb(100 21 255 );
    text-align: center;

    border: 3px solid rgb(160 174 192);
}

.info--buttons--div {
    display: flex;
    flex-direction: row;
    height: 70%;
    align-items: center;
    transition: all ease-in-out 400ms;
}

.info--buttons--div button {
    transition: all ease-in-out 400ms;
}


.info--buttons--div button:hover {
    transform: translate(5px, 5px); 
    cursor: pointer;

}





/* FOOTER */

.footer__container {
    padding: 96px 32px;
    margin-top: 30px;
    margin-right: -32px;
    margin-bottom: -32px;
    width: 100%;
  }
  
  .footer__background {
    background-color: #6415ff;
  }
  
  .footer__center {
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  
  .column__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
  }
  
  .column__item {
    margin-top: 3px;
    padding-bottom: 2px;
    border-bottom: 2px transparent solid;
    transition-property: border-bottom;
    transition: 300ms ease;
    text-align: left;
  }
  
  .column__item--link {
    color: #f7fafc;
    font-size: 14px;
    font-weight: 500;
  }
  
  .column__item:hover {
    border-bottom: 2px #f7fafc solid;
  }
  
  .column__title {
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    text-align: left;
  }
  
  .column__container {
    display: flex;
    justify-content: space-between;
  }
  
  .divider__2 {
    width: 100%;
    margin: 64px 0;
    border-bottom: 2px#742cff solid;
  }
  
  .copyright__container {
    display: flex;
    justify-content: space-between;
  }
  
  .company__name {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .company__name--text {
    color: #f7fafc;
    font-size: 20px;
    margin-left: 8px;
    font-weight: 900;
  }
  
  .company__img {
    width: 32px;
  }
  
  .comapny__img--container {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  
  .copyright__actual--copyright {
    font-size: 16px;
    color: #cbd5e0;
    font-weight: 500;
  }
  
  .social__link {
    width: 48px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: #f7fafc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .social__link svg {
    width: 16px;
    height: 16px;
  }
  
  .social__link:not(:last-child) {
    margin-right: 16px;
  }
  
  .copyright__social--container {
    display: flex;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  
  /* RESPONSIVENESS */


  @media (min-width: 1200px) {

    header {
         height: calc(100vh - 20%);
    }
  }









@media (max-width: 1300px) {

    html, body {
        max-width: 100%;
        /* overflow-x: hidden; */
    }

    

  
    .row {
        margin: 0 auto;
    }

    header {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: auto;
    }
    
    header .left {
        width: 90%;
        margin: 0 auto;
    }

    header .left h1 {
        width: 60%;
        text-align: center;
        margin: 0 auto;
    }

    header .left p{
        width: 70%;
        padding-top: 20px;
        text-align: center;
        margin: 0 auto;
    }

    header .left input {
        margin-bottom: 20px;
    }

    header .right {
        width: auto;
        align-items: center;
        justify-content: center;
    }

    header .right figure {
        margin-top: 30px;
        
        
    }

    header .right img { 
        max-width: 500px;
        
    }

    #testimonials .right {
        margin-left: 10%;
    }
 } 

 @media (max-width: 840px) {

    nav ul {
        display: none;
    }

    .hamburger-button {
        display: block
    }

    

    #qualitywork .left button {
        width: 40%;
    }

    #qualitywork .right figure {
        margin-left: 10px;
    }
    #qualitywork .right figure img {
        width: 400px;
    }


    #steps {
        display: flex;
        flex-direction: column;
        
        align-items: center;
    
    }

    #steps .left figure img {
        width: 500px;
        margin: 0 auto;
    }

    #steps .right div:first-child {
        margin-top: 20px;
        text-align: center;
    }

    .step {
        margin: 0 auto;
    }

    #values {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #values .left div:first-child {
        text-align: center;
    }

    #values .left p:nth-of-type(2) {
        font-size: 14px;
    }

    .principletext {
        margin-top: 10px;
    }
    
    .principlesdiv {
        margin: 20px auto;
        width: 120%;
    }

    #values .right {
        width: auto;
    }

    #values .right figure img {
        width: 500px;

    }

    .buynow {
        width: auto;
    }

    .priceoptions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .personal, .business, .enterprise {
        width: 70%;
        margin-bottom: 20px;
    }

    .testimonialscontent .left img {
        width: 400px;
    }

    .testimonialscontent .right h1 {
        font-size: 40px;
    }

    .testimonial p:last-child {
        margin-bottom: 30px;
    }
    .arrow-div button {
        padding: 0px;
    }

    #info {
        width: 80%;
        margin: 20px auto;
        
    }

    .info--content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info--content--left h1 {
        text-align: center;
        margin: 20px auto;
    }

    #info svg:first-child {
        transform: translate(-80px,200px) !important;
        top: auto;
    }
    
 }

 @media (max-width: 600px) {

    .left-content button {
        right: 12%;
    }
 
    .feature {
       width:  calc(100% / 2); 
    }

    #qualitywork {
        
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
    #qualitywork .left {
        text-align: center;
        width: 70%;
    }

    #qualitywork .left h1 {
        text-align: center;
        font-size: 40px;
    }

    .qualityworksubtext {
        font-size: 12px;
        text-align: center;
        margin-bottom: 10px;
    }
    #qualitywork .left button {
        
        font-size: 14px;
        margin: 10px auto;
        padding: 10px 15px;
    }

    #qualitywork .right figure {
        margin: 10px auto;
    }

    #qualitywork .right {
        width: auto;
    }

    #steps .left figure img {

        width: 400px;
    }

    #steps .left {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    #steps .left figure {
        margin: 0 auto;
    }

    .principlesdiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .principle {
        width: auto;
        margin-bottom: 20px;
    }

    .principletitle {
        text-align: left;
    }

    .principle:last-child {
        margin-left: 0px;
    }

    .testimonialscontent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonialscontent .left {
        flex-direction: row;
    }

    .testimonialscontent .figure {
        justify-content: center;
    }

    .testimonialscontent .right {
        margin-top: 20px;
        text-align: center;
    }

    .stars {
        justify-content: center;
    }

    .testimonialscontent .left, .testimonialscontent .right {
        width: auto;
        justify-content: center;
    }

    .info--content {
        width: 100%;

    }

    #info svg:first-child {
        scale: 0.8;
        transform: translate(-80px,350px) !important;
    }
 }

 @media (max-width: 1200px) {

    .featurecontent {
        width: 90%;
        margin: 50px auto;
    }
       
    #qualitywork .right figure img {
        width: 400px;
    }

    #qualitywork .right figure {
        margin-left: 50px;
    }

    #qualitywork .left {
        margin-left: 50px;

    }

    #values .right figure img {
        width: 500px;
    }
    #values .left {
        margin-left: 50px;
    }

    .testimonialscontent .left img {
        width: 500px;
    }

    #testimonials .right {
        margin-right: 70px;
    }

 }

 @media (max-width: 1100px) {

    #qualitywork .right {
        width: auto;
    }

    .right {
        width: auto;
    }
    
    #steps .left {
        width: auto;
    }

    .left {
        width: auto;
    }
    
    #steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #steps .left  {
        margin: 0 auto;
    }
    #steps .right {
        text-align: center;
        margin: 20px auto 0px auto; 
    }

    .step {
        display: flex;
        flex-direction: column;
    }
    .step div {
        align-items: center;
        margin-top: 20px;
    }
    .stepname .steptext {
        text-align: center;
        margin: 0 auto;
    }

    #values {
        display: flex;
        flex-direction: column;
    }

    #values .left, #values .right {
        margin-top: 30px !important;
        text-align: center;
        margin: 0 auto;
    }

    .priceoptions {
        flex-direction: column;
    }

    .personal, .business, .enterprise {
        margin: 20px auto; 
    }

    #testimonials {
        flex-direction: column;

    }

    .testimonialscontent {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .testimonialscontent .right {
        margin: 40px auto;
        text-align: center;
    }

    .stars {
        justify-content: center;
    }
    
 }

 @media (max-width: 1000px) {
    #qualitywork {
        display: flex;
        flex-direction: column;
    }

    #qualitywork .left {
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }
    #qualitywork .left h1 {
        text-align: center;

    }
    .qualityworksubtext {
        text-align: center;
    }

    #qualitywork .right {
        
        margin: 30px auto;
    }


 }

 @media (max-width: 800px) {
    
    .left-content {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    header .left input {
        margin-bottom: 10px;
    }

    .left-content button {
        position: static;
        width: 70%;
    }

    .feature {
        margin: 20px auto;
        width: calc(100% /2 );
    }

    .info--content--left h1 {
        margin: 20px auto;
    }

    info--content--left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
 }

 @media (max-width: 600px) {

    .column__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .column {
        width: calc(100% / 3);
        margin: 20px auto;
    }

    .copyright__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }

    .company__name, .copyright__actual--copyright{
        margin-bottom: 20px;
    }




    .feature {
        width: calc(100% / 1 );
        text-align: center;
        justify-content: center;
    }

    .featuretextcontainer {
        text-align: center;
    }

    .featureheading {
        text-align: center;
    }
 }

 @media (max-width: 500px ) {

    .personal, .business, .enterprise {
        width: 100%;
    }

    #steps .left figure img {
        width: 300px;
    }
    

    .rightimage {
        width: 400px;
    }

    #values .right figure img {
        width: 400px;
    }

    .testimonialscontent .left img {
        width: 300px;
    }

    .questions--toptext h1 {
        font-size: 38px;
        text-align: center;
    }

    #info svg:first-child {
        transform: translate(-80px,550px) !important
    }

    #qualitywork .right {
        
        margin: 30px auto;
    }
    #qualitywork .right figure img {
        width: 300px;
    }
    #qualitywork .right figure {
        margin: 0 auto;
    }

    #values .left h1 {
        font-size: 34px;
        text-align: center;
    }

    #values .right figure img {
        width: 300px;
    }

    #pricing .toptext h1 {
        font-size: 34px;
    }

    .testimonial-info {
        flex-direction: column;
        align-items: center;
    }

    .info--content--left h1 {
        width: 100%;
        font-size: 24px;
    }

    .info--buttons--div {
        flex-direction: column;
    }

    .info--content--right div button:first-child {
        margin: 20px auto; 
    }
 }

 @media (max-width: 400px) {
    .rightimage {
        width: 300px;
    }
 }